<ion-header translucent>
  <!-- Barra Inicial-->
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemons" color="medium"></ion-searchbar>

  <ion-item-sliding *ngFor="let pokemon of pokemonList">
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="success">{{pokemon.id}}</ion-label>
      </ion-chip>
      <ion-label>
        <div *ngFor="let nome of pokemon.forms">
          <h2>{{nome.name | titlecase}}</h2>
          <ion-badge [color]="tipo.type.name | lowercase" *ngFor="let tipo of pokemon.types">{{tipo.type.name}}</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="editar(pokemon)" color="warning">
        <ion-icon name="create-outline" size="large"></ion-icon>
      </ion-item-option>
      <ion-item-option (click)="deletar(pokemon)" color="danger">
        <ion-icon name="trash-outline" size="large"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>

/* CÓDIGO DA PAGINAÇÃO COM AUXÍLIO DE LEONARDO E CARLOS EDUARDO */

<ion-footer color="danger">
   <ion-toolbar color="danger">
    <ion-buttons slot="start" *ngIf="previous">
      <ion-button (click)="paginaAnterior()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    Página {{ page }} do total de {{ totalPages }} páginas


    <ion-buttons slot="end" *ngIf="next">
      <ion-button (click)="proximaPagina()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      
   </ion-toolbar>
</ion-footer>